*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Space Mono", monospace;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  text-align: center;
  overflow: hidden;
}

.name {
  font-size: clamp(1rem, 12vw, 2em);
  letter-spacing: 8px;
  color: #4e4e4e;
}

.card {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.75rem;
}

.link {
  font-size: clamp(0.75rem, 4.25vw, 1rem);
  text-decoration: none;
  color: #adadad;
  white-space: nowrap;
  letter-spacing: 2px;
  transition: letter-spacing 0.2s ease-in-out;
}

.link:hover {
  color: #fc923b;
  letter-spacing: clamp(1px, 0.75vw, 5px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: #7e7e7e;
  }
  a:hover {
    color: #fc923b;
  }
}
